.flexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#test {
  background-color: aquamarine;
  max-width: 600px;
  max-height: 500px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}
#Dia2 {
  background-color: rgb(7, 228, 73);
  max-width: 600px;
  max-height: 500px;
  margin-right: 0%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  margin-top: 200px;
}
#Dia2Canvas {
  margin-right: 0%;
}
.header {
  width: 50%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 200px;
  text-align: center;
  background-color: dimgray;
}

.test {
  align-self: center;
}