body {
  background-color: rgb(36, 37, 38);
}

.flexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#test {
  background-color: aquamarine;
  width: 100%;
  height: fit-content;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
#Dia2 {
  background-color: rgb(26, 182, 47);
  border: 20px solid rgb(19, 206, 34);
  max-width: 80%;
  max-height: auto;
  margin-right: 0%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  margin-top: 200px;
}
#Dia2Canvas {
  margin-right: 0%;
}
.header {
  width: 50%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 200px;
  text-align: center;
  background-color: dimgray;
}
