.flexbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#test {
  background-color: aquamarine;
  max-width: 600px;
  max-height: 500px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  align-self: flex-start;
}
#Dia2 {
  background-color: rgb(231, 75, 14);
  max-width: 600px;
  max-height: 500px;
  margin-right: 0%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  margin-top: -200px;
  align-self: flex-end;
}

.header {
  width: 50%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 200px;
  text-align: center;
  background-color: dimgray;
}
